@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth box-border;
  }

  body {
    @apply bg-white-two font-Raleway scroll-smooth dark:bg-dark-black ease-in-out duration-300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-3xl sm:text-4xl md:text-6xl;
  }
}

@layer components {
  .btn {
    /* apply btn styles here */
    @apply w-fit px-[1.5rem] py-[1rem] bg-main-dark rounded-full text-white-one font-medium hover:bg-main ease-in-out duration-300 cursor-pointer flex justify-center items-center gap-2 hover:scale-105;
  }
  .btn-2 {
    /* apply btn styles here */
    @apply w-fit px-[calc(1.5rem-2px)] py-[calc(1rem-2px)] bg-transparent rounded-full text-main-dark font-medium hover:bg-main-dark hover:text-white-one border-2 hover:border-[2px] hover:border-main-dark ease-in-out duration-300 cursor-pointer flex justify-center items-center gap-2 hover:scale-105;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #49bb78;
    border-radius: 100vh;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #62f5ab;
  }
}
